<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/anasayfa.css">
    <title>yesene.com</title>
    <link href="../assets/images/icon.jpeg" rel="icon" type="image/jpg">
    <script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
</head>
<body>
    <ul>
        <li><a href="../views/ders1.html">Ana Sayfa</a></li>
        <li><a href="../views/corbasitesi.html">Çorbalar</a></li>
        <li><a href="../views/arasicaksitesi.html">Ara Sıcaklar</a></li>
        <li><a href="../views/anayemeksitesi.html">Ana Yemekler</a></li>
        <li><a href="../views/salatasitesi.html">Salatalar</a></li>
        <li><a href="../views/tatlisitesi.html">Tatlılar</a></li>
        <li><a href="../views/mamasitesi.html"nbsp&>Mamalar </a></li>
        <li>
            <div class="d-flex anabaslik">
                <div class="box">
                    <form name="search">
                        <input type="text" class="input" name="txt" 
                        onmouseout="document.search.txt.value = ''">
                    </form>
                        <i class="fas fa-search"></i>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div id="account-area">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">KULLANICI GİRİŞİ</button>
                    &nbsp;
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal1">ÜYE OL</button>
                </div>
            </div>
        </li>
    </ul>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Çıkarmak istediğiniz malzemeyi seçiniz..">
    <div class="katalog">
        <div class="w-100 d-flex justify-content-center">
            <div class="mama-resim">
                <div class="mama-baslik"> 
                    <a href="../views/mamatarifi.html" target="_blank" rel="noopener noreferrer"> Balkabağı Püresi </a>
                </div>
                <a href="../views/mamatarifi.html" target="_blank" rel="noopener noreferrer">
                    <img src="../assets/images/mama/bal-kabagi.png">
                </a>
            </div>
            <div class="mama-resim">
                <div class="mama-baslik"> 
                    <a href="../views/mamatarifi.html" target="_blank" rel="noopener noreferrer"> Elmalı Sütlaç </a>
                </div>
                <a href="../views/mamatarifi.html" target="_blank" rel="noopener noreferrer">
                    <img src="../assets/images/mama/elmali-sutlac.png">
                </a> 
            </div>
            <div class="mama-resim">
                <div class="mama-baslik"> 
                <a href="../views/mamatarifi.html" target="_blank" rel="noopener noreferrer"> Havuç Püresi </a>
                </div>
                <a href="../views/mamatarifi.html" target="_blank" rel="noopener noreferrer">
                    <img src="../assets/images/mama/havuc-puresi.jpg">
                </a>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <div class="mama-resim">
                <div class="mama-baslik"> 
                    <a href="../views/mamatarifi.html" target="_blank" rel="noopener noreferrer"> Muhallebi </a>
                </div>
                <a href="../views/mamatarifi.html" target="_blank" rel="noopener noreferrer">
                    <img src="../assets/images/mama/muhallebi.png">
                </a>
            </div>
            <div class="mama-resim">
                <div class="mama-baslik"> 
                    <a href="../views/mamatarifi.html" target="_blank" rel="noopener noreferrer"> Pancar Püresi </a>
                </div>
                <a href="../views/mamatarifi.html" target="_blank" rel="noopener noreferrer">
                    <img src="../assets/images/mama/pancar-puresi.jpg">
                </a>
            </div>
            <div class="mama-resim">
                <div class="mama-baslik"> 
                    <a href="../views/mamatarifi.html" target="_blank" rel="noopener noreferrer"> Patatesli Kabak Çorbası </a>
                </div>
                <a href="../views/mamatarifi.html" target="_blank" rel="noopener noreferrer">
                    <img src="../assets/images/mama/patatesli-kabak-corbasi.png">
                </a>
            </div>
        </div>
    </div>

    <div class="tuyo">
        İşte tariflerinize yepyeni bir tat katacak bazı tüyolar!
    </div>
    <div class="tuyo-baslik">
        Mamalar İçin Tüyolar
    </div>
    <img class="sticky" src="../assets/images/mama/mama1.png" alt="">
    <p style="background-color: white; margin-left: 36%;margin-top: -13%;margin-bottom: 10%; max-height: 70%; width: 50%; font-size: large; text-align: center;"><b> Bebeğiniz için mama hazırlarken dikkat etmeniz gereken hususları sizlere A’dan Z’ye aktaracağız. Ancak öncesinde bir uyarıda bulunmak isteriz. Bebeğinize 6 aydan önce evde hazırladığınız mamalarla beslemeye başlamayın! Çünkü mama için sindirim sistemlerinin belirli bir gelişime sahip olması gerekir. Bu süreden önce evde mama hazırlayıp vermeniz sağlık sorunlarına yol açabilir. </b></p>
    <img class="sticky" src="../assets/images/mama/mama2.png" alt="">
    <p style="background-color: white; margin-left: 36%;margin-top: -13%;margin-bottom: 10%; max-height: 70%; width: 50%; font-size: large; text-align: center;"><b> Bebeğinize mama hazırlarken kullanacağınız tüm kapları, kaşık ve çatalları çok iyi yıkamalı, hijyenik bir ortamda saklamalısınız. Dezenfekte etmek için asla çamaşır suyu kullanmayın. Bir kap içerisinde kaynar suda bekletirseniz tüm mikroplar ölecektir.<br> Mama içerisine su eklemeniz gerekirse, önce suyu kaynatıp ılıtmalısınız. Bebeğinize asla musluktan direk olarak su vermeyin, mamasına eklemeyin.</b></p>
    <img class="sticky" src="../assets/images/mama/mama3.png" alt="">
    <p style="background-color: white; margin-left: 36%;margin-top: -13%;margin-bottom: 10%; max-height: 70%; width: 50%; font-size: large; text-align: center;"><b> Mamaya ekleyeceğiniz sebze ve meyveleri çok iyi yıkayın. <br> Metal rende kullanmayın. Çok daha küçük parçalar halinde rendeleme işlemi yapabileceğiniz cam rendeleri tercih edin. Cam rende gıdaların besin değeri kaybına uğramasını önler. <br> Bebeğinizin şekere ihtiyacı yok!<br> Hangi mamayı hazırlıyor olursanız olun mamaya asla şeker veya tatlandırıcı eklemeyin! </b></p>
    <img class="sticky" src="../assets/images/mama/mama4.png" alt="">
    <p style="background-color: white; margin-left: 36%;margin-top: -13%;margin-bottom: 10%; max-height: 70%; width: 50%; font-size: large; text-align: center;"><b> Her yeni mamayı bebeğinize kaşıkla çok az miktarda verin ve en az bir gün bekleyin. Bebeğinizin bazı gıdalara alerjisi olabilir ve mama içerisinde bu gıda olabilir.<br> Her yeni mama için en az 3 gün bekleyin. Aynı dönemde bebeğinize çok farklı mamalar verirseniz sindirim sorunları yaşayacaktır.<br> Tıpkı şeker gibi bebeğinizin tuza da ihtiyacı yok! <br>1 yaşına gelene dek mamaya asla tuz eklemeyin.</b></p>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Girişi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="loginForm">
                    <div class="modal-body">
                        <div id="loginModalErrorMessage"></div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label"> E-posta Adresi </label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Şifre </label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <a href="sifremiunuttum.html" rel="noopener noreferrer"> Şifremi Unuttum </a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <a id="loginBtn" class="btn btn-danger">Giriş Yap</a>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Modal2 -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Üye Olunuz</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="registerForm">
                        <div class="mb-3">
                            <label for="exampleInputName2" class="form-label"> Ad Soyad </label>
                            <input type="text" name="nameSurname" class="form-control" id="exampleInputName2"
                                aria-describedby="nameHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPhone2" class="form-label"> Telefon Numarası </label>
                            <input type="text" name="userTel" class="form-control" id="exampleInputPhone2">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail2" class="form-label"> E-posta Adresi </label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail2"
                                aria-describedby="userEmail">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword2" class="form-label">Şifre </label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword2">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                            <a id="registerBtn" class="btn btn-danger">Üye Ol</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class ="footer">
            <div class="left-footer">
                <h5> Bizimle iletişime geçin. </h5>
                <h6> Yasemin BOZKURT <br>
                +90 538 813 57 90 <br>
                34yaseminbozkurt@gmail.com <br>
                Copyright © 2022 | Yasemin BOZKURT | Tüm Hakları Saklıdır.
                </h6>
            </div>
            <div class="right-footer">
                <h5> Sosyal medya hesaplarımızı takip edin.</h5>
                    <ul class="social-icons">
                        <li><a href="http://www.facebook.com"><img src="../assets/images/facebook.png" /></a></li>
                        <li><a href="http://www.youtube.com"><img src="../assets/images/youtube.webp" /></a></li>
                        <li><a href="http://www.instagram.com"><img src="../assets/images/instagram.webp" /></a></li>
                        <li><a href="http://www.twitter.com"><img src="../assets/images/twitter.png" /></a></li>
                        <li><a href="http://www.discord.com"><img src="../assets/images/discord.png" /></a></li>
                    </ul>
            </div>   
        </div>
        
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="./assets/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
Scripts.Init();
</script>
</html>